@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 576px) {
    .md {
        display: none;
        padding-left: 1.75rem;
    }

}

.grid-rows-header {
    grid-template-rows: 96px auto;
    background-color: white;
}

@font-face {
    font-family: "DBAdmanX";
    /*Can be any text*/
    src: local("DBAdmanX"),
        url("../public//fonts//DBAdmanX.ttf") format("truetype");
}

html,
body,
p {
    font-family: 'DBAdmanX', sans-serif !important;
}

td {
    position: unset !important;
}

.nextui-table-container {
    border-width: 0 !important;
    box-shadow: none !important;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: RGBA(0, 0, 0, 0.24);
    border-style: dashed;
    color: #000000;
    outline: none;
    transition: border 0.24s ease-in-out;
}

.dropzone:focus {
    border-color: #2196f3;
}

.anticon-eye {
    display: none !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 55px !important;
}