@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 576px) {
    .md {
        display: none;
        padding-left: 1.75rem;
    }

}

.grid-rows-header {
    grid-template-rows: 96px auto;
    background-color: white;
}

@font-face {
    font-family: "DBAdmanX";
    /*Can be any text*/
    src: local("DBAdmanX"),
        url("../public//fonts//DBAdmanX.ttf") format("truetype");
}

html,
body {
    font-family: 'DBAdmanX', sans-serif !important;
}

td{
    position: unset !important;
}